@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "../../styles/variables.scss";

html {
  height: 100%;
}

body, #root, #layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $dark-color;
  background-color: $bright-color;
}