$primary-color: #ffe600;
$dark-color: #333333;
$mid-dark-color: #666666;
$mid-bright-color: #999999;
$bright-color: #eeeeee;
$accent-color: #3483fa;
$white: #fff;
$black: #000;

$navbar-height: 64px;

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
